<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeiboHomePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F528B0931DB310E100001479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F528B0AC1DB310E100001479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F528B0B71DB310E100001479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
